.navbar {
  width: 100%;
  padding: 20px;
  background-color: #ccc; /* Change this color to modify the navbar background color */
  color: white;
  text-align: left; /* Align the logo to the left */
  font-size: 24px;
  font-weight: bold;
}

.logo {
  color: #066b0a; /* Change this color to modify the logo color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif /* Change this to modify the logo font family */
}