.navbar {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3); /* Change this color to modify the navbar background color */
  color: white;
  text-align: left; /* Align the logo to the left */
  font-size: 24px;
  font-weight: bold;
}

.logo {
  color: #08520b; /* Change this color to modify the logo color */
  font-family:'Futura' /* Change this to modify the logo font family */
}